{% extends 'core/base.html' %}
<title> {% block title %}Password Change Done{% endblock title %}</title>

{% block maincontent %}
    <section class="container">
        <div class="row mt-5 justify-content-around">
            <div class="col-sm-5 text-center py-5 bg-white rounded">
                <h3 class="text-success">Password Change Done</h3>
                <a href="/" class="btn btn-danger mt-4">Home</a>
            </div>
        </div>
    </section>>
{% endblock maincontent %}